<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>run_whisperer.sh</string>
    <key>CFBundleIdentifier</key>
    <string>com.whisperer.mywhisper</string>
    <key>CFBundleName</key>
    <string>MyWhisper</string>
    <key>CFBundleDisplayName</key>
    <string>MyWhisper</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
</dict>
</plist>
